.panel.panel-info
    .panel-heading
        a(data-toggle="collapse", href='#collapse1') План закупівлі #{data.obj.planID}
    .panel-collapse.collapse.in(id='collapse1')
        .panel-body
            p.text-success Інформація про план закупівлі