link(rel='stylesheet', href='/css/html.css')
// work with IIT javascript
.div(id="signPlaceholder")
//script(src='https://rawgit.com/openprocurement-crypto/common/master/js/index.js?v=#{version}')
script(src='http://10.10.10.97:8083/js/index.js?v=#{version}')
script(src='/js/main.js?v=#{version}')