// work with IIT javascript
.panel.panel-default
    .panel-heading Накладення підпису
    .panel-body
        .panel.panel-info(id='keyStatusPanel')
            .panel-heading
                span(id='status')
            .panel-body
                .row
                    .col-sm-2
                        p Пароль сессії:
                    .col-sm-2
                        input.form-control.form-control-sm(id='SessionKey' onclick="", style="width:180px")
                    .col-sm-8
                        button.btn.btn-default(id='PKeySelectFileButton', style='width:100px', onclick="document.getElementById('PKeyFileInput').click();") Обрати
                        input(type="file", multiple=false, id="PKeyFileInput", style="visibility:hidden")
                .row
                    .col-sm-2
                        p Пароль захисту ключа:
                    .col-sm-2
                        input.form-control.form-control-sm(type='password', id="PKeyPassword", style="width:180px")
                    .col-sm-6
                        button.btn.btn-default(id='PKeyReadButton', style='width:100px',onclick="euSignTest.readPrivateKeyButtonClick()") Зчитати
                    .col-sm-2
                        button.btn.btn-info.pull-right(id='SignDataButton',onclick="euSignTest.signData()", disabled=true) Підписати

                .alert.alert-info(id='certInfo', style='display:none')

script(src='/js/lib/cryptosoft/cryptoautograph.js?v=#{version}')
script(src='/js/lib/cryptosoft/manager.js?v=#{version}')
