extends layout

block content
    h1 Перевірка електронно цифрового підпису
    p Адреса документу: <a href='#{data.opApiUri}'>#{data.opApiUri}</a>

    include partials/check_v1

    if data.type == 'tender'
        include partials/tender
    if data.type == 'plan'
        include partials/plan

    script(type='text/javascript').
        var local_data = !{JSON.stringify(data)};
