extends layout

block content
    h1 Налаштування і перевірка підпису
    p.lead Для накладення підпису потрібно викликати за адресою #{url}
    hr
    p Приклади
        p: a(href='/sign/b9f98029456d4bb6b2e3b3e2865fcb0b?acc_token=339fc6d09478476e89bb6a6eb4b39dff') Закупівля UA-2016-02-11-000025
        p: a(href='/sign/352d026191c04aaabaa08c45581513f6?acc_token=fe09133a1077412399bb16cfc67b4140') Закупівля UA-2016-02-07-000030