extends layout

block content
    img.pull-right(src="/images/mini-prozorro.png")
    h1 Накладення та перевірка підпису для системи ProZorro

    p.lead Для накладення підпису потрібно викликати за адресою
    pre #{url}init/:type/sign/v1/:id?acc_token=:acc_token
         p
         | &#32;&#32;<i>type</i> - тип об'єкту <b>tender</b> або <b>plan</b>
         | &#32;&#32;<i>id</i> - ідентифікатор закупівлі чи плану
         | &#32;&#32;<i>acc_token</i> - ключ доступу, отриманий з ЦБД при створенні
         p тобто, наприклад
         p /init/tender/sign/v1/b9f98029456d4bb6b2e3b3e2865fcb0b?acc_token=339fc6d09478476e89bb6a6eb4b39dff
         p /init/plan/sign/v1/9f7f64558f5740b98c504872101a1d12?acc_token=339fc6d09478476e89bb6a6eb4b39dff
    hr
    p Приклади
        p: a(href='/init/tender/sign/v1/d747a479adcb47a5853bd185c90b0f90?acc_token=00d4f6aff4974bb9ac01a4da3e67771b') Закупівля UA-2016-02-07-000043-1
        p: a(href='/init/tender/sign/v1/3e50cb086014422caf0db8198129bfee?acc_token=987a7af912e949d98c318db3af534a20') Закупівля UA-2016-02-15-000047-1
        p: a(href='/init/tender/sign/v1/d792af58475a4a2bb65db73774c016f8?acc_token=6f377e37f8e340189d6a47df5e21873b') Закупівля UA-2016-02-15-000051-1
        p: a(href='/init/tender/sign/v1/68b50da6aae343628bdb81956ce8b764?acc_token=8ea5b6604f754f89aeb161a97c0b78fa') Закупівля UA-2016-02-15-000045-1
        p: a(href='/init/plan/sign/v1/9f7f64558f5740b98c504872101a1d12?acc_token=339fc6d09478476e89bb6a6eb4b39dff') План закупівлі UA-P-2016-02-08-000005
    .alert.alert-info
        p Тестовий ключ для підпису &#32;&#32;
            a(href='/data/Key-6.dat') <<
                span.i.fa.fa-key >>
