extends layout

block content
    img.pull-right(src="/images/mini-prozorro.png")
    h1 Накладення та перевірка підпису для системи ProZorro

    p.lead Для накладення\перевірки підпису потрібно викликати за адресами
    pre підпис    - #{url}init/:type/sign/v1/:api_version/:id?acc_token=:acc_token
         p перевірка - #{url}init/:type/check/v1/:id
         p де
         | &#32;&#32;<i>type</i> - тип об'єкту <b>tenders</b> або <b>plans</b>
         | &#32;&#32;<i>api_version</i> - версія API (0.11, 0.12, 2.0, 2.1 і т.д.)
         | &#32;&#32;<i>id</i> - ідентифікатор закупівлі чи плану
         | &#32;&#32;<i>acc_token</i> - ключ доступу, отриманий з ЦБД при створенні (опціонально, у разі відсутності вставка підпису буде неможлива)
         p тобто, наприклад
         p /init/tenders/sign/v1/0.11/b9f98029456d4bb6b2e3b3e2865fcb0b?acc_token=339fc6d09478476e89bb6a6eb4b39dff
         p /init/plans/sign/v1/0.11/9f7f64558f5740b98c504872101a1d12?acc_token=339fc6d09478476e89bb6a6eb4b39dff
         p /init/tenders/check/v1/0.11/b9f98029456d4bb6b2e3b3e2865fcb0b
    hr

    .panel.panel-info
        .panel-heading
            a(data-toggle="collapse", href='#collapse1') Виклик для існуючого об'єкту
        .panel-collapse.collapse.in(id='collapse1')
            .panel-body
                .row
                    .col-sm-1
                        p Адреса
                    .col-sm-10
                        input(type='text', id='txtUrl', style='width:880px', value='https://public.api.openprocurement.org/api/2.3/tenders/798f45011ce04448b8a95e45bdaee4e8')
                        button.btn.btn-default(onclick="redirectFromApi(document.getElementById('txtUrl').value)") Перевірка

    .panel.panel-info
        .panel-heading
            a(data-toggle="collapse", href='#collapse2') Перегляд підписаних об'єктів по ЦБД
        .panel-collapse.collapse.in(id='collapse2')
            .panel-body
                .btn-group
                    button.btn.btn-info(style='width:180px',onclick="redirectToWatch('https://lb.api-sandbox.openprocurement.org', '2.3', 'tender')") sandbox(tenders)2.3
                    button.btn.btn-info(style='width:180px',onclick="redirectToWatch('https://lb.api-sandbox.openprocurement.org', '2.3', 'plan')") sandbox(plans)2.3
                    button.btn.btn-info(style='width:180px',onclick="redirectToWatch('https://lb.api-sandbox.openprocurement.org', 'dev', 'tender')") sandbox(tenders)dev
                    button.btn.btn-info(style='width:180px',onclick="redirectToWatch('https://lb.api-sandbox.openprocurement.org', 'dev', 'plan')") sandbox(plans)dev
                .btn-group
                    button.btn.btn-info(style='width:180px',onclick="redirectToWatch('https://public.api.openprocurement.org', '0', 'tender')") public(tenders)
                    button.btn.btn-info(style='width:180px',onclick="redirectToWatch('https://public.api.openprocurement.org', '0', 'plan')") public(plans)
    .alert.alert-info
        p Тестовий ключ та сертифікат для підпису &#32;&#32;
            a(href='/data/Key-6.dat') <<
                span.i.fa.fa-key >>
            a(href='/data/User.cer') <<
                span.i.fa.fa-file >>