extends layout

block content
    h1 Накладення електронно цифрового підпису
    p Адреса API: <i>#{data.opApiUri}</i>
    if data.type == 'tender'
        include partials/tender
    if data.type == 'plan'
        include partials/plan

    if data.cryptoLibVer == "v1"
        include partials/sign_v1
    else if data.cryptoLibVer == "v2"
        include partials/sign_v2

    script(type='text/javascript').
        var local_data = !{JSON.stringify(data)};
