extends layout

block content
    h1 Накладення електронно цифрового підпису на закупівлю
    p Адреса API: <i>#{data.opApiUri}</i>
    .panel.panel-info
        .panel-heading
            a(data-toggle="collapse", href='#collapse1') Закупівля #{data.obj.tenderID}
        .panel-collapse.collapse.in(id='collapse1')
            .panel-body
                include partials/tender
    if data.cryproLibVer == 1
        include partials/sign_v1
    else if data.cryproLibVer == 2
        include partials/sign_v2

    script(type='text/javascript').
        var local_data = !{JSON.stringify(data)};
