extends layout

block content
    h1 Накладення електронно цифрового підпису
    p Адреса документу: <a href='#{data.resourceUrl}?opt_pretty=1'>#{data.resourceUrl}?opt_pretty=1</a>
    if data.cryptoLibVer == "v1"
        include partials/sign_v1
    else if data.cryptoLibVer == "v2"
        include partials/sign_v2

    if data.type == 'tender'
        include partials/tender
    if data.type == 'plan'
        include partials/plan

    script(type='text/javascript').
        var local_data = !{JSON.stringify(data)};
